<div class="gradient-shadow"></div>
  <div class="container shadow-box">
      <h3>עמותת "צליאק בקהילה" מתמקדת בעיקר במגזר החרדי והדתי ע"י חלוקות, מידע, יעוץ כנסים ואירועים, אך כמובן דלתה פתוחה לכל חולה צליאק ולרגשי גלוטן. </h3>
      <p>"צליאק בקהילה" היא עמותה שהוקמה בעקבות סיפור לא פשוט שעבר על אבא לילד רגיש לגלוטן עד לגיל 5 הילד סבל ממיחושים שונים ולא היתה ברורה הסיבה רק בגיל 5 התגלתה סוף סוף הסיבה למיחושים של הילד והיא שהילד הוא רגיש לגלוטן בעקבות הסיפור והמורכבות הרבה של גידול ילד רגיש לגלוטן החליט האבא לעזור לרגישי הגלוטן ע"י פעילות ציבורית הכוללת חלוקות של מוצרי מזון כשרים ללא גלוטן במחיר מוזל.</p>
      <p>צליאק – בשמו העיברי דגנת. צליאק משמעתו שהאינזימים לא מפרקים את חלבון הדגנים. צליאק גם נקרא מחלת האלף הפנים כי אצל כל אחד התסמינים שונים. ארגון 'צליאק בקהילה', הוקם לפני 22 שנים, ע"י משפחת בנדיקט, בעקבות אבחון מאוחר של הבן שלהם. </p>
      <p>בשל הידיעה שאנשים סובלים מצליאק ומסתירים זאת, הארגון התחיל בפעולות הסברה, בפרסום מתכונים ובעזרה לחולי הצליאק בחברה החרדית, שבה היה קשה יותר לדאוג למוצרים ללא גלוטן בכשרות טובה. הארגון דאג להקמת קבוצה להנחיית הורים, חלוקת מוצרים ועוד.</p>
      <p>לפני כ20 שנה פנינו לחברת 'ויזל' שתתרום את הסחורה שנותרה מפסח לטובת הרגישים לגלוטן.</p>
      <p>החלוקה – בשנים הראשונות הייתה בחצרות בתים, ועברה מפה לאוזן. ‏חלק מההצלחה התבטא בעובדה שלאור פעילות העמותה, אנשים כבר לא חוששים ומפסיקים להסתיר את היותם "חולי" צליאק (אנחנו מעדיפים להתייחס לזה כאל אורח חיים ולא מחלה) הם פשוט למדו שאפשר לחיות בכבוד ובקלות עם הצליאק. זה בלתי נתפס שיש חברי כנסת, עיתונאים, אנשי ציבור ובעלי חברות גדולות במשק, שיש להם רגישות לגלוטן,

        אבל מנגד אין שום יוזמה ממוסדת לתמיכה בקהילת חולי הצליאק, אלא רק יוזמות של אנשים פרטיים. בעקבות סל המזון ללא גלוטן שמחירו מאוד גבוה, הארגון הלך והתפתח .</p>
      <h4>כיום יש מעל 10,000 איש רשומים, במעל 20 תחנות בכל רחבי הארץ של חלוקות ומכירות. היעד הוא להגיע לכמה שיותר, ועוד היד נטויה…
      </h4>
      <p>לפני מספר חודשים האירגון הפך לעמותה שכולה בהתנדבות!</p>
      <p> החזון של הארגון – שהממשלה תעניק מענק חודשי למשפחות, והעמותה תהיה מיותרת. ועד אז, אנחנו פה כדי לסייע ולעזור.</p>
  </div>
