
<meta name="viewport" content="width=device-width, initial-scale=1">

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="max-width:400px;margin:auto" dir="rtl">
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="שם משתמש" formControlName="userName" required>
      </div>

      <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="דואר אלקטרוני" formControlName="email" required >
      </div>
      <button class="btn">הכנס</button>
</form>

