// // footer{
    
// // }
// // .container1{
// //     display: grid;
// //     grid-template-rows: [first]5px auto [end]5px;
// //     grid-column-gap: 10px;
// //     grid-row-gap: 0.5px;
// // }
// // .header{
// //     grid-area: header;
// // }
// // .main{
// //     grid-area: main;
// // }
// // .footer{
// //    // grid-area: footer;
// // //    // position: fixed;
// // //     left: 0;
// // //     bottom: 0;
// // //     width: 100%;
// //    background-color: green;
// // //     color: white;
// // //     text-align: center;
// // }

// // .container {
// //     display: grid;
// //     grid-gap: 10px;
// //     height: 100vh;
// //     // grid-template-areas:
// //     //   "header"
// //     //   "section"
// //     //   "footer";
// //     grid-template-rows: 1fr auto auto 1fr;

// //     grid-template-columns: auto auto auto auto;
// //   grid-row-gap: 20px;
// // //   grid-column-gap: 10px;
// //   background-color: yellow;
// //   padding: 10px;
// //   }
  
// //   @media (min-width: 400px) {
// //     .container {
// //       grid-template-areas:
// //         "header"
// //         "section"
// //         "footer";
// //     //   grid-template-rows: 1fr 6fr 1fr;
// //     //   grid-template-columns: 1fr 6fr;
// //     }
// //   }
  
// //   .container > * {
// //     background-color: cyan;
// //     font-size: 30px;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     text-align: center;
// //   }
  
// //   .sticky {
// //     position: fixed;
// //     top: 0;
// //     width: 100%
// //   }

// //   .sticky + .content {
// //     padding-top: 102px;
// //   }

// .container {
//     display: grid;
//     grid-template-rows: 10px auto 10px;
//     grid-row-gap: 50px;
//     // grid-column-gap: 10px;
//     background-color: #2196F3;
//     // padding: 10px;
//   }
  
//   .container > div {
//     background-color: rgba(244, 248, 9, 0.973);
//     text-align: center;
//     padding: 20px 0;
//     font-size: 30px;
//   }

//   header {
//     grid-area: header;
//     position: sticky
//     background-color red;

//   }
  
// //   aside {
// //     grid-area: aside;
// //   }
  
//   section {
//     grid-area: section;
//   }
  
//   footer {
//     grid-area: footer;
//     position: sticky
//     background-color green;
//   }
.container {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas:
      "header"
      "section"
    //   "aside"
      "footer";
    grid-template-rows: 1fr 10fr 1fr 1fr;
  }
  
  @media (min-width: 400px) {
    .container {
      grid-template-areas:
        "header header header header"
        "section section section section"
        "footer footer footer footer";
      grid-template-rows: 1fr 6fr 1fr;
      grid-template-columns: auto;
    }
  }
  
  .container > * {
    // background-color: cyan;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  header {
    grid-area: header;
    position: sticky;
  }
  
//   aside {
//     grid-area: aside;
//   }
  
  section {
    grid-area: section;
  }
  
  footer {
    grid-area: footer;
    position: sticky;
  }
  @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }