
<div class="gradient-shadow"></div>
<div class="container shadow-box">
    <h4>צליאק - קצה הקרחון?</h4>
    <p>מחלת הצליאק מתאפיינת בשכיחות גבוהה מהמדווח בעבר, גם בישראל. לאחרונה חלה עלייה במודעות למחלה וחל שיפור באמינותם של תבחינים סרולוגים, אשר הביאו לתובנה, שהמחלה היתה תת מאובחנת, וששכיחותה גבוהה בהרבה מזו שהופיעה בדיווחים הראשונים, כולל היארעות בגיל המבוגר.</p>
    <a class="itemReadMore button" href="/על-צליאק/מהי-מחלת-הצליאק/צליאק-קצה-הקרחון"> קרא עוד </a>
    <h4>התייצגות מחלת הדגנת וקבוצות סיכון</h4>
    <p>התסמינים במחלה מופיעים באופן הדרגתי ולרוב קיים פער זמנים הנע בין חודשים לשנים מרגע החשיפה לגלוטן ועד הופעת המחלה ואבחונה. המחלה מתאפיינת בנוכחות צירופים שונים של ביטויים קליניים התלויים בחשיפה לגלוטן. ההסתמנות הקלינית נרחבת, החל בהסתמנות טיפוסית מצד מערכת העיכול המלווה בתת-תזונה קשה, כאבי בטן, נפיחות הבטן ושלשולים ועד הסתמנות…</p>
    <h4>הספקטרום של בעיות משניות לגלוטן</h4>
    <p>בשנים האחרונות קיימת מודעות רבה יותר לתופעות על רקע גלוטן שאינן קשורות לצליאק. בין התופעות המוזכרות: אלרגיה ואי סבילות לגלוטן או בשמן הכולל GRD - Gluten Related Disorders.</p>
    <h4>מחלת צליאק מניבה הפתעות</h4>
    <p>מחלת צליאק קשורה בתזונה והיא עלולה להיות קטלנית. חקר המחלה חשף קשר אפשרי למחלות אוטואימוניות רבות.</p>   
</div>