  .elementor-image img {
    border-radius: 50%;
    width: 80px;
  }

  .elementor-image{
    position: absolute;
    right: 0;
  }

  .logo {
    border: 2px solid #070707;
  }
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;
    font-style: bold;
    font-family: Tahoma,Geneva,sans-serif;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: 	#DAA520 ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 100%;
    border: 1px solid #ddd;
    border-top:5px solid 	#DAA520;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: 	#DAA520;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
