.productbox {
    font-family: Tahoma,Geneva,sans-serif;
    background-color:#ffffff;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
			box-shadow: 0 8px 6px -6px #999;
            width: 200px;
            padding: 20px;
}

.producttitle {
    font-weight:bold;
    padding:2px 0 2px 0;
    width: 188px;
    font-size: 15px;
}

.productprice {
	border-top:1px solid #dadada;
    //padding-top:1px;
    width: 188px;
    
}

.pricetext {
	font-weight:solid;
    font-size:0.9em;
    height: 20px;
    direction: rtl
}
.img-responsive{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: solid 1px black;
}

  .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 600px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #DAA520;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #717fe0;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #DAA520;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #717fe0;

}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
.button_add{
        padding: 14px 46px;
        color: #fff;
        background-color: #717fe0;
        border: 1px solid transparent;
        position: relative;
        display: inline-block;
        margin: 100px auto;
        text-transform: uppercase;
        font-size: 15px;
    }
    .btn{
        margin-top: 10px;
        font-size: 13px;
        border-color: #DAA520;;
        color: #DAA520;
    }
    