:host {
  display: grid;
  grid-template-columns: 75% 25%;
}
.productbox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
}

.pricetext {
  font-weight: bold;
  font-size: 1.4em;
}
.div-products {
  text-align: center;
  margin: 50 0 50px;
  padding: 0 10px;
  display: inline-flex;
}
//
.row_cart {
  border: solid 0.5px black;
}

mat-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.mat-list-item-content {
  justify-content: space-between;
}
