<div class="orderItems">
  <div *ngFor="let p of products" class="div-products">
    <div class="column div-products">
      <app-product [product]="p" (addProduct)="add_product_to_cart($event)"
      (plusProduct)="plus_one_product($event)"
      (minusProduct)="minus_one_product($event)"></app-product>
    </div>
  </div>
</div>

<div class="container orderItems" *ngIf="if_has_buy">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th>כמות</th>
          <th>מחיר</th>
          <th>מוצר</th>
        </tr>
      </thead>
      <tr *ngFor="let p of products_in_cart">
        <td class="text-center"> <a class="btn btn-danger btn-xs" (click)="remove(p.id)"><span
              class="glyphicon glyphicon-remove"></span> הסר</a></td>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>{{p.name}}</td>

      </tr>
      <tr>
      <td colspan="2">{{totalPrice}}</td>
      <td colspan="2">:מחיר כולל</td>
      </tr>

    </table>
  </div>
  
<a class="itemReadMore button"
href="https://kesherhk.info/Pay.aspx?id=1880&value=29c7eebdcaa04bb&pId=9910&dest=1&lang=he-IL&cur=1&titles=noStyle">
לתשלום
</a>
</div>



<!-- <table mat-table [dataSource]="products_in_cart" class="mat-elevation-z8"> -->
  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>מחיר</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.total }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->

<!-- <button (click)="to_pay()" class="btn btn-outline-primary">לתשלום</button> -->