.productbox {
  background-color:#ffffff;
padding:10px;
margin-bottom:10px;
-webkit-box-shadow: 0 8px 6px -6px  #999;
   -moz-box-shadow: 0 8px 6px -6px  #999;
        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight:bold;
padding:5px 0 5px 0;
}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1.4em;
}
.div-products{
  text-align: center;
  margin: 0 0 10px;
  padding: 0 10px;
  align:center ;

}
///
.lib-row {
  width: 100%;
}

.icon-round {
  width: 80px;
  line-height: 70px;
  text-align: center;
  padding-top: 8px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  right: -38px;
  top: 20px;
  background-color: #2CAFFD;
}

.ozi-icon i {
  font-size: 28px;
  padding: 0px;
  font-weight: bold;
}

.card-text {
  position: initial;   
}

.lib-panel {
margin-bottom: 20Px;
}
.lib-panel img {
width: 100%;
background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
margin: 0;
padding: 0;
background-color: #FFFFFF;
}


.lib-panel .lib-row {
padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
background-color: #FFFFFF;
font-size: 20px;
padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
height: 2px;
width: 26px;
background-color: #2CAFFD;
margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
position: relative;
height: auto;
display: block;
font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
position: absolute;
width: 100%;
bottom: 10px;
left: 20px;
}

.row-margin-bottom {
margin-bottom: 20px;
}

.box-shadow {
-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}
span.price {
  float: 10px;
  color: grey;
}
.td1{
  box-align: center;
}