a {
    text-align: center;
    margin:5%;
font-size: 30px;
color: aliceblue;
}
// a{
//   display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: stretch;
// 	align-content: flex-start;
// }

  
  .example-spacer {
    flex:1 1 auto;
  }
  