<h1></h1>
<!-- <nav>
  <a routerLink="/app-what-this-celiac" routerLinkActive="active">מה זה צליאק?</a>
  <a routerLink="/app-about-celiac-community" routerLinkActive="active">אודות העמותה</a>
  <a routerLink="/app-order-products" routerLinkActive="active">הזמנות</a>
  <a routerLink="/app-product" routerLinkActive="active">צור קשר</a>

</nav> -->
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <a  routerLink="/app-what-this-celiac" routerLinkActive="active">מה זה צליאק?</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-about-celiac-community" routerLinkActive="active">אודות העמותה</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-order-products" routerLinkActive="active">הזמנות</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-one-product" routerLinkActive="active">צור קשר</a>
    <a class="example-spacer"></a>

  </mat-toolbar-row>

 
</mat-toolbar>
<router-outlet></router-outlet>


