// a {
//     text-align: center;
//     margin:5%;
// font-size: 30px;
// color: aliceblue;
// }
// a{
//   display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: stretch;
// 	align-content: flex-start;
// }

  
  .example-spacer {
    flex:0.5px 1.5px auto;
  }
  // a {
  //   float: left;
  //   color: #f2f2f2;
  //   text-align: center;
  //   padding: 0.5px 0.5px;
  //   text-decoration: none;
  //   font-size: 30px;
  // }
  ////////////
  .navbar-default{
    margin-top:50px; /* you don't need add this line */
 border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
 color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
 color: #fff;
 background-color: transparent;
 border-bottom: 3px solid #f62329;
 background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
 background-repeat: no-repeat;



}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
 color: #fff;
 background-color: #080808;
 border-bottom: 3px solid #f62329;
 background: url("http://s31.postimg.org/9k42omozb/arrow.png") bottom;
 background-repeat: no-repeat;

}
  // .example-spacer {
  //   flex:1 1 auto;
  // }
  
    .elementor-image img {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 0px 0px;
}

  .filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
    flex: 1 1 auto;
 }
