
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<h1></h1>
<!-- <nav>
  <a routerLink="/app-what-this-celiac" routerLinkActive="active">מה זה צליאק?</a>
  <a routerLink="/app-about-celiac-community" routerLinkActive="active">אודות העמותה</a>
  <a routerLink="/app-order-products" routerLinkActive="active">הזמנות</a>
  <a routerLink="/app-product" routerLinkActive="active">צור קשר</a>

</nav> -->
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <a  routerLink="/app-what-this-celiac" routerLinkActive="active">מה זה צליאק?</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-about-celiac-community" routerLinkActive="active">אודות העמותה</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-order-products" routerLinkActive="active">הזמנות</a>
    <a class="example-spacer"></a>
    <a routerLink="/app-contact-us" routerLinkActive="active">צור קשר</a>
    <a class="example-spacer"></a>

  </mat-toolbar-row>

 
</mat-toolbar>
<!-- ./ -->
<!-- <div class="col-md-6 col-md-offset-2">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
    <div class="row">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li 
         
          ><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div> -->
<!-- l; -->
<router-outlet></router-outlet>


