

<mat-toolbar color="primary">
    <div class="elementor-image">
        <a href="/" data-elementor-open-lightbox="">
          <img
            class="logo"
            src="https://scontent.ftlv7-1.fna.fbcdn.net/v/t1.0-1/p200x200/49101915_528132327689280_3574598897030397952_n.jpg?_nc_cat=111&_nc_oc=AQllP9zHArnRWjsbe2MxPsfXwkryvqEbUIxAD0gt2azdu-Ywv_h3UGpbiDZz6uiEaXo&_nc_ht=scontent.ftlv7-1.fna&oh=892ed556abb4768ce1206abf517a4f75&oe=5DBFF26C"
            title=""
            alt=""
          />
        </a>
      </div>
  <mat-toolbar-row>
    <span routerLink="/app-contact-us" routerLinkActive="active">צור קשר</span>
    <span routerLink="/app-about-celiac-community" routerLinkActive="active">אודות העמותה</span>
    <span routerLink="/app-order-products" routerLinkActive="active">הזמנות</span>
    <span routerLink="/app-what-this-celiac" routerLinkActive="active">?מה זה צליאק</span>
  </mat-toolbar-row>
</mat-toolbar>
