<div class="container">

     <a href="/" data-elementor-open-lightbox="">
      <img
        style="width:100%; height:100%"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYap8my1ONj9r4qHpvv8XGJ2kKtGQmpwY_7fxUnvUaLUfS5vjpag"
        title=""
        alt=""
      />

    </a>
    <div class="elementor-image topright">
        <a href="/" data-elementor-open-lightbox="">
          <img
            class="logo"
            src="https://scontent.ftlv7-1.fna.fbcdn.net/v/t1.0-1/p200x200/49101915_528132327689280_3574598897030397952_n.jpg?_nc_cat=111&_nc_oc=AQllP9zHArnRWjsbe2MxPsfXwkryvqEbUIxAD0gt2azdu-Ywv_h3UGpbiDZz6uiEaXo&_nc_ht=scontent.ftlv7-1.fna&oh=892ed556abb4768ce1206abf517a4f75&oe=5DBFF26C"
            title=""
            alt=""
          />
        </a>
    </div>
    <div class="centered">
        עמותת צליאק בקהילה יצרה עם השנים כלים רבים למתן שירותים לחולי צליאק, זאת, במטרה להבטיח שחולי הצליאק בישראל יזכו לאבחון, לטיפול ולתזונה בטוחה ללא גלוטן בכל תחנה בחייהם.
    </div>
  </div>
